body {
  background-image: url(../images/Fondopagina.jpg);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header .barra {
  display: flex;
  background-color: rgb(80, 24, 24);
  height: 150px;
  width: 100vw;
  justify-content: space-around;
}
header .barra .logo {
  position: relative;
  width: 140px;
  height: 130px;
}
header .barra .cartel {
  align-self: center;
  align-self: flex;
  color: black;
  font-weight: 110;
  font-size: 40px;
  font-style: normal;
  font-family: "Cinzel", serif;
  position: relative;
}
header .barra ul a {
  text-decoration: none;
  color: white;
}
header .barra ul.menu li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
}
header .barra ul.menu li:hover {
  background-color: black;
  transition: 0.5s;
}
header .barra .menu {
  align-self: flex-end;
}
header .barra .dropdown {
  display: none;
}
header .barra .dropdown #botonMenu {
  background-color: transparent;
  border-style: none;
}
header .barra .dropdown img {
  width: 30px;
  height: 30px;
}

main .cartelera {
  display: flex;
  width: 250px;
  height: 150px;
  margin: 0 auto;
}
main .car {
  display: flex;
  margin: 50px 0;
  justify-content: space-evenly;
}
main .imgCartelera {
  width: 300px;
  border-radius: 5px;
  border-color: rgb(80, 24, 24);
  border-style: solid;
}
main .separador1 {
  background-image: url(../images/separador1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 20em;
}
main .imgCartelerasab {
  width: 300px;
  border-radius: 5px;
  border-color: rgb(80, 24, 24);
  border-style: solid;
}
main .imgCartelerasab:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
main .ubicacion {
  margin-top: 3rem;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  text-align: center;
}
main .ubicacion .separador2 {
  background-image: url(../images/separador2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}
main .ubicacion .encontrarnos {
  width: 230px;
  height: 150px;
}
main .ubicacion iframe {
  margin-top: 2rem;
  width: 100vw;
  height: 300px;
}
main .subir {
  width: 50px;
  height: 50px;
  margin-left: 5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
}

footer .barra2 {
  display: grid;
  background-color: rgb(80, 24, 24);
  height: 150px;
  width: 100vw;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "item5 item6";
  align-items: center;
}
footer .barra2 .logo2 {
  width: 140px;
  height: 130px;
}
footer .barra2 .item5 {
  grid-area: "item5";
}
footer .barra2 .redesBarra p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: -25px;
  font-family: "Poppins", sans-serif;
}
footer .barra2 .redesBarra a img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
footer .barra2 .item6 {
  justify-self: center;
  grid-area: "item6";
}

main .solicitud {
  margin-left: 40%;
  font-size: 30px;
  width: 250px;
}
main .reservas {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 1000px;
  height: 1000px;
}
main .reservas .formulario {
  width: 600px;
  height: 500px;
  font-size: 20px;
}
main .reservas .pergamino {
  width: 469px;
  height: 649px;
}

main #carouselExampleAutoplaying {
  width: 500px;
  margin: 20px auto;
}
main .comida {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 1000px 1000px;
  width: 90%;
  height: fit-content;
  margin-left: 100px;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "area1 area1" "area3 area4";
}
main .comida .area1 {
  grid-area: area1;
}
main .comida .carComida {
  padding-left: 20rem;
  padding-right: 20rem;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 15px;
  font-weight: 1000;
}
main .comida .area3 {
  grid-area: area3;
}
main .comida .area3 .comidaIzquierda {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 15px;
  font-weight: 1000;
}
main .comida .area3 .imgMenu {
  width: 100px;
  height: 100px;
}
main .comida .area4 {
  grid-area: area4;
}
main .comida .area4 .comidaDerecha {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 15px;
  font-weight: 1000;
}
main .comida .area4 .imgMenu {
  width: 100px;
  height: 100px;
}

main .historia {
  width: 700px;
  height: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-size: 20px;
}

main .contacto {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
main .contacto h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
main .contacto h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
main .contacto .redes {
  width: 100vw;
  height: fit-content;
  margin-top: 3rem;
  text-align: center;
}
main .contacto a img {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  header .barra {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item1 item2" "item1 item3";
  }
  header .barra .item1 {
    grid-area: item1;
  }
  header .barra .item2 {
    grid-area: item2;
  }
  header .barra .item3 {
    grid-area: item3;
  }
  header .barra .item4 {
    grid-area: item4;
  }
  header .barra .logo {
    width: 100px;
    height: 100px;
  }
  header .barra .cartel {
    color: black;
    font-weight: 110;
    font-size: 30px;
    width: 500px;
    height: 50px;
    text-align: center;
  }
  header .barra .menu {
    width: fit-content;
    height: 50px;
    align-self: flex-end;
    order: -1;
  }
  header .barra .menu li {
    padding: 0;
    font-size: 15px;
  }
  .barra2 .redesBarra {
    margin-top: 40px;
    margin-left: 25rem;
  }
  .cartelera {
    width: 250px;
    height: 150px;
    margin-left: 33%;
    margin-top: 2%;
  }
  .car .imgCartelera {
    width: 200px;
  }
  .car .imgCartelerasab {
    width: 150px;
  }
  .ubicacion iframe {
    width: 300px;
    height: 300px;
  }
  main .solicitud {
    margin-top: 5%;
    margin-left: 35%;
  }
  main .reservas {
    flex-direction: column;
    width: 600px;
    margin-top: 20px;
    height: fit-content;
    text-align: center;
    align-items: center;
  }
  main .reservas .formulario {
    width: 620px;
    height: fit-content;
  }
  main .reservas .pergamino {
    margin-top: 2rem;
  }
  #carouselExampleAutoplaying {
    margin-left: 10rem;
  }
  main .comida {
    display: grid;
    width: 600px;
    height: fit-content;
    margin-left: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: "area1" "area3" "area4";
  }
  main .comida .carComida {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0rem;
  }
  main .comida .comidaIzquierda {
    margin-left: -7rem;
    width: 600px;
  }
  main .comida .comidaDerecha {
    margin-left: -7rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 480px) {
  header .barra {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item4 item1" "item4 item2";
  }
  header .barra .item1 {
    grid-area: item1;
  }
  header .barra .item2 {
    grid-area: item2;
  }
  header .barra .item3 {
    grid-area: item3;
  }
  header .barra .item4 {
    grid-area: item4;
  }
  header .barra .logo {
    margin-left: 6rem;
  }
  header .barra .cartel {
    font-size: 30px;
    padding-right: 6rem;
    width: 400px;
  }
  header .barra .menu {
    display: none;
  }
  header .barra .dropdown {
    display: inline;
    padding-top: 3rem;
  }
  header .barra ul a {
    text-decoration: none;
    color: black;
  }
  .cartelera {
    margin-left: 8rem;
  }
  .separador1 {
    display: none;
  }
  .car {
    flex-direction: column;
  }
  .car .imgCartelera {
    margin-left: 6rem;
    width: 300px;
    margin-top: 10px;
  }
  .car .imgCartelerasab {
    width: 300px;
    margin-left: 6rem;
    margin-top: 10px;
  }
  .separador2 {
    display: none;
  }
  .barra2 .redesBarra {
    margin-left: 10rem;
  }
  main .solicitud {
    margin-left: 7rem;
  }
  main .reservas {
    flex-direction: column;
    height: fit-content;
    width: 480px;
  }
  main .reservas .formulario {
    width: fit-content;
  }
  main #carouselExampleAutoplaying {
    margin-left: 2rem;
    width: 400px;
  }
  main .comida {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    width: 450px;
    margin: 0;
  }
  main .comida .carComida {
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-size: 15px;
    font-weight: 1000;
  }
  main .comida .comidaIzquierda {
    margin-top: 5rem;
    width: 430px;
    margin-left: 0;
  }
  main .comida .comidaDerecha {
    width: 430px;
    margin-left: 0;
  }
  .historia {
    width: 700px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 15px;
    padding-right: 15rem;
  }
  .contacto h2 {
    font-weight: 500;
    font-size: 20px;
  }
  .contacto h3 {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  header .barra .logo {
    margin-left: 6rem;
  }
  header .barra .cartel {
    font-size: 30px;
    width: 320px;
    padding-right: 0rem;
  }
  header .barra .menu {
    display: none;
  }
  header .barra .dropdown {
    display: inline;
  }
  header .barra ul a {
    text-decoration: none;
    color: black;
  }
  .barra2 .redesBarra {
    margin-left: 5rem;
  }
  .cartelera {
    margin-left: 5rem;
  }
  .car {
    flex-direction: column;
  }
  .car .imgCartelera {
    margin-left: 3rem;
    width: 300px;
    margin-top: 10px;
  }
  .car .imgCartelerasab {
    width: 300px;
    margin-left: 3rem;
    margin-top: 10px;
  }
  .separador1 {
    display: none;
  }
  .separador2 {
    display: none;
  }
  .solicitud {
    margin-left: 5rem;
  }
  .reservas {
    width: 300px;
    flex-direction: column;
    height: fit-content;
  }
  .reservas .formulario {
    margin-left: 0rem;
    font-size: 17px;
    width: 300px;
  }
  .reservas .pergamino {
    width: 395px;
  }
  .comida {
    width: 300px;
  }
  .comida .comidaIzquierda {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
  }
  .comida .comidaDerecha {
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .comida .carComida {
    width: 350px;
    margin-left: 1rem;
    font-size: 15px;
    font-weight: 1000;
  }
  .historia {
    width: 400px;
    height: fit-content;
    margin: 0 auto;
    padding: 0;
    margin-top: 3rem;
    font-size: 15px;
  }
  .historia p {
    padding-left: 1rem;
    width: 380px;
  }
  .historia h1 {
    width: 400px;
  }
}
@font-face {
  font-family: Rose Bud Sweet;
  src: url(/Rose\ Bud\ Sweet.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*# sourceMappingURL=estilos.css.map */
