main{

    .tituloReservas {
        margin-left: 40%;
        font-size: 30px;
        width: 250px;
    }

    .reservas{
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        width: 1000px;
        height: 1000px;
        
        .formulario {
            width: 600px;
            height: 500px;
            font-size: 20px;
            font-family: $fuente-general;
        }
        .pergamino{
            width: 469px;
            height: 649px;
        }
    }

}