main{
    .tituloReservas {
        margin-top: 2rem;
        margin-left: 40%;
        font-size: 30px;
        width: 250px;
    }
    .reservas{
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        width: 1000px;
        height: 1000px;
        .formulario {
            color: black;
            width: 600px;
            height: fit-content;
            font-size: 20px;
            font-family: $fuente-general;
            input{
                margin-top: 20px;
                background-color: rgba(0, 0, 0, 0);
                border-bottom-width: 2px;
                border-bottom-color: black;
                border-top-width: 0px;
                border-left-width: 0px;
                border-right-width: 0px;
                outline: 0px;
            }
            label{
                margin-top: 20px;
            }
        }
        .pergamino{
            width: 469px;
            height: 649px;
        }
    }
}