main{
    .tituloReservas {
        margin-top: 2rem;
        margin-left: 40%;
        font-size: 30px;
        width: 250px;
    }
    .reservas{
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        width: 1000px;
        height: 1000px;
        .formulario {
            color: black;
            width: 600px;
            height: fit-content;
            font-size: 20px;
            font-family: $fuente-general;
            input{
                margin-top: 20px;
                border-radius: 0.5rem;
            }
            label{
                margin-top: 20px;
            }
        }
        .pergamino{
            width: 469px;
            height: 649px;
        }
    }
}