@media screen and (max-width:768px) {
    // BARRA DE NAVEGACION
    header{
        .barra{
            display: grid;
            grid-template-columns: 0.1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "item1 item2"
            "item1 item3";
            .item1{
                grid-area: item1;
            }
            .item2{
                grid-area: item2;
            }
            .item3{
                grid-area: item3;
            }
            .item4{
                grid-area: item4;
            }
            .logo {
                width: 100px;
                height: 100px ;
            }
            .cartel{
                color: black;
                font-weight: 110;
                font-size: 30px;
                width: 500px;
                height: 50px;
                text-align: center;
            }
            .menu{
                width: fit-content;
                height: 50px;
                align-self: flex-end;
                order: -1;
                li {
                    padding: 0;
                    font-size: 15px;
                }
            }
        }
    }
    //FOOTER
    footer{
        .barraInferior{
            .redesBarra{
                margin-top: 40px;
                margin-left: 25rem;
            }
        }
    }
    //SECCION DE CARTELERAS
    main{
        .tituloCarteleras {
            width: 250px;
            height: 150px;
            margin-left: 33%;
            margin-top: 2%;
        }
        .carteleras{
            .imgCartelera{
                width: 200px;
            }
            .imgCartelerasab {
                width: 150px;
            }
        }
        //UBICACION
        .ubicacion{
            iframe { 
                width: 100%;
                height: 300px;
            }
        }
    }
        //PAGINA DE RESERVAS
    main{
        .tituloReservas {
            margin-top: 5%;
            margin-left: 35%;
        }
        .reservas{
            flex-direction: column;
            width: 600px;
            margin-top: 20px;
            height: fit-content;
            text-align: center;
            align-items: center;
                .formulario{
                    width: 620px;
                    height: fit-content;
                }
                .pergamino{
                    margin-top: 2rem;
                }
        }
    }
    //PAGINA DE MENU
    main{
        #carouselExampleAutoplaying{
            margin-left: 10rem;
        }
        .comida {
            display: grid;
            width: 600px;
            height: fit-content;
            margin-left: 100px;
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr 1fr;
            grid-template-areas: 
            "area1"
            "area3"
            "area4";
            .carComida{
                padding-right: 0px;
                padding-left: 0px;
                margin-left: 0rem;
            }
            .comidaIzquierda{
                margin-left: -7rem;
                width: 600px;
            }
            .comidaDerecha{
                margin-left: -7rem;
                padding-right: 5rem;
            }
        }
    }
}
@media screen and (max-width:480px) {

    // BARRA DE NAVEGACION
    header{
        .barra{
            display: grid;
            grid-template-columns: 100px auto;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "item4 item1"
            "item4 item2";
            .item1{
                grid-area: item1;
            }
            .item2{
                grid-area: item2;
            }
            .item3{
                grid-area: item3;
            }
            .item4{
                grid-area: item4;
            }
            .logo{
                margin-left: 6rem;
            }
            .cartel{
                color: white;
                font-size: 30px;
                padding-right: 6rem;
                width: 400px;
            }
            .menu{
                display: none;
            }
            .dropdown{
                display:inline;
                padding-top: 3rem ;
            }
            ul a {
                text-decoration: none;
                color: black;
            }
        }
    }
    //SECCION DE CARTELERAS
    main{
        .imginicio{
            display: none;
        }
        .tituloCarteleras{
            margin-left: 8rem;
        }
        .separador1{
            display: none;
        }
        .carteleras{
            flex-direction: column;
            .imgCartelera{
                margin-left: 6rem;
                width: 17rem;
                margin-top: 10px;
            }
            .imgCartelerasab {
                width: 17rem;
                margin-left: 6rem;
                margin-top: 10px;
            }
        }
        .separador2{
            display: none;
        }
    }
    footer{
        .barraInferior{
            .redesBarra{
                margin-left: 10rem;
            }
        }
    }
    main{
        .tituloReservas{
            margin-left: 7rem;
        }
        .reservas{
            flex-direction: column;
            height: fit-content;
            width: 480px;
            .formulario{
                width: fit-content;
            }
        }
    }
    //PAGINA DE MENU
    main{
        #carouselExampleAutoplaying{
            margin-left: 2rem;
            width: 400px;
        }   
        .comida {
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr 1fr;
            width: 450px;
            margin: 0;
            .carComida{
                padding-left: 0rem;
                padding-right: 0rem;
                margin: 0 auto;
                margin-top: 50px;
                font-family: "Roboto Mono", monospace;
                font-style: normal;
                font-size: 15px;
                font-weight: 1000;
            }
            .comidaIzquierda{
                margin-top: 5rem;
                width: 430px;
                margin-left: 0;
            }
            .comidaDerecha{
                width: 430px;
                margin-left: 0;
            }
        }
    }
    //QUIENES SOMOS
    main{
        .historia{
            width: 450px;
            height: fit-content;
            margin: 0 auto;
            margin-top: 3rem;
            font-size: 15px;
        }
    }
    //PAGINA DE CONTACTO
    .contacto{
        h2{
            font-weight: 500;
            font-size: 20px;
        }
        h3{
            font-weight: 400;
            font-size: 15px;
        }
    }
}
@media screen and (max-width:400px) {
    //BARRA DE NAVEGACION
    header{
        .barra{
            grid-template-columns: 50px auto;
            .cartel{
                color: white;
                font-size: 30px;
                width: 320px;
                padding-right: 0rem;
            }
            .menu{
                display: none;
            }
            .dropdown{
                display: inline;
            }
            ul a {
                text-decoration: none;
                color: black;
            }
        }
    }
    //FOOTER
    footer{
        .barraInferior{
            .redesBarra{
                margin-left: 5rem;
            }
        }
    }
    //SECCION DE CARTELERAS
    main{
        .imginicio{
            display: none;
        }
        .tituloCarteleras{
            margin-top: 4rem;
            margin-left: 5rem;
        }
        .carteleras{
            flex-direction: column;
            .imgCartelera{
                margin-left: 4rem;
                width: 17rem;
                margin-top: 3rem;
            }
            .imgCartelerasab {
                width: 17rem;
                margin-left: 4rem;
                margin-top: 3rem;
            }
        }
        .separador1{
            display: none;
        }
        .separador2{
            display: none;
        }
    }
    //PAGINA DE RESERVAS
    main{
        .tituloReservas{
            margin-left: 20%;
        }
        .reservas{
            flex-direction: column;
            height: fit-content;
            width: 300px;

            .formulario{
                width: 300px;
                margin-left: 0rem;
                font-size: 17px;
                width: 300px;
                div{
                    li{
                        text-align: left;
                    }
                }
            }
            .pergamino{
                width: 395px;
            }
        }
    }
    //PAGINA DE MENU
    main{
        #carouselExampleAutoplaying{
            width: 350px;
            margin-top: 3rem;
            margin-left: 1.5rem;
        }
        .comida{
            width: 300px;
            .comidaIzquierda{
                width: 300px;
                margin: 0;
                padding: 0;
                margin-top: 3rem;
                .imgMenu{
                    margin: 1rem 40%;
                }
                h2{
                    text-align: center;
                }
            }
            .comidaDerecha{
                width: 300px;
                margin: 0;
                padding: 0;
                .imgMenu{
                    margin: 1rem 40%;
                }
                h2{
                    text-align: center;
                }
            }
            .carComida{
                width: 350px;
                margin-left: 1rem;
                font-size: 15px;
                font-weight: 1000;
            }
        }
    }
    //QUIENES SOMOS
    main{
        .historia{
            width: 400px;
            height: fit-content;
            margin: 0 auto;
            padding: 0;
            margin-top: 3rem;
            font-size: 15px;
            p{
                padding-left: 1rem;
                width: 380px;
            }
            h1{
                width: 400px;
            }
        }
    }
}